*{
	margin: 0;
	padding: 0;
}
body{
	width: 1000px;
	height: 50px;
	background-color: #9cd68ed9;
	background-image: url("../img/bj2.png");
}
.header{
	height:	 80px;
	width: 1470px;
	background: #FFFFFF;
	box-sizing: border-box;
	border-bottom: 2px solid #000000;
	background-color: #9cd68ed9;
	
}
.p{
	position: absolute;
	left: 20px;
	top: 20px;
	font-size: 30px;
	color: #ffaa7f;
	color: #000000;
}
.nav-box{
	max-width: 1000px;
	margin: 0px auto;
	position: absolute;
	height: 40px;
	padding-top: 20px;
    right: 50px;
	justify-content: space-between;
	color: #ffaa7f;
	font-size: 20px;
}
.banner{
	width: 1200px;
	margin: 0px 135px;
	background: url("../img/治愈图片1.jpg") no-repeat center center;
	height: 500px;
	text-align: center;
	line-height: 312px;
	color: #FFFFFF;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.introduce{
	width: 900px;
	margin: 0 auto;
	padding: 40px 0;
	text-align: center;
}
.introduce-main{
	
}
.introduce-main .r{
	line-height: 30px;
	font-size: 20px;
	color: #3c1db0;
	padding-left: 20px;		
	text-align: center;
	position: absolute;
	left: 600px;
	top: 80%;	
}
.l{
	position: absolute;
	left: 500px;
	top: 80%;
	
}
.footbox{
	width: 1450px;
	height: 130px;
	padding-left: 50%;
	padding-top: 15%;
	color: #000000;
	box-sizing: border-box;
	border-bottom: 1px solid #333333;
}